body {
    margin: 0;
    background-color: #A3B29F;
    padding: 0
}

.admin-control {
    margin: 9%
}

.admin-control .control-box {
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    width: 23%
}

.admin-control .control-box .box-title {
    text-align: center;
    color: #eee
}

.admin-control .control-box .box-form {
    background-color: #eeee;
    height: 472px;
    width: 100%;
    overflow-y: scroll
}

.admin-control .control-box .box-form form {
    margin: 20px;
    text-align: center
}

.admin-control .control-box .box-form form label {
    margin: 70px
}

.admin-control .control-box .box-form form .img-upload {
    width: 223px;
    height: 153px;
    margin: 10px
}

.admin-control .control-box .box-form form input {
    margin: 4px;
    width: 226px;
    padding: 7px
}

.admin-control .control-box .box-form form select {
    margin: 4px;
    width: 229px
}

.admin-control .control-box .box-form form .social-links {
    float: left;
    margin: 0;
    margin-left: 34px
}

.admin-control .control-box .box-form form .submit-btn {
    background-color: #A3B29F;
    border-radius: 5px;
    border: none
}

.admin-control .control-box .box-form form .submit-btn:hover {
    background-color: #4aad30;
    cursor: pointer;
}