body {
    background-color: #f3f5e7;
}

.app {
    height: 500px;
    width: 800px;
    margin: 0 auto
}


/*NavBar*/

.home-img {
    display: block;
    float: left;
    margin-top: 0.5%;
    width: 15%;
    height: auto;
    cursor: pointer;
    /* margin-left: 30% */
}

.menu-items-div {
    margin-top: -8px
}

.menu-items {
    list-style: none;
    text-align: center;
    background-color: #666666;
    color: aliceblue;
    margin: 0;
    padding-right: 15%;
}

.menu-items li {
    display: inline-block;
    cursor: pointer;
    padding: 0.5% 0;
    font-size: 14pt;
}

.menu-items li:hover {
    background-color: #759633;
    color: white
}

.menu-items a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-items li:active {
    background-color: rgb(0, 0, 0);
    color: white;
}


/* NavBar*/

.app .navbar a {
    float: right;
    text-decoration: none;
    color: #313d18;
    margin-right: 2%;
}

.app .navbar a:visited {
    color: #313d18;
}

.app .profile {
    float: left;
    width: 48%;
    margin-left: 1%
}

.app .profile-info {
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-top: 3%
}

.app h2 {
    color: rgb(0, 0, 0);
}

.app .profile .profile-pic {
    /* width: 500px; */
    width: 60%;
    height: auto;
}

#show {
    cursor: pointer;
    width: 89px
}

.app .profile .profile-review-no {
    padding-top: 5px;
    color: rgb(0, 0, 0)
}

.app .profile .profile-bottons {
    margin-top: 15px
}

.app .profile .profile-bottons .seeReview-btn {
    float: left;
    width: 20%
}

.app .profile .profile-bottons .discoverReview-btn {
    float: right;
    width: 60%;
    margin-right: 2%;
}

.profile-btn {
    margin-right: 20%;
    cursor: pointer;
}


/*Display Button Content*/

.center {
    margin: auto;
    width: 1074px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
    height: 500px
}

.hideform {
    display: none;
}

.close {
    cursor: pointer;
}


/*Review Box*/

.reviews-header-logo {
    width: 100px;
    height: 64px
}

.review-box-img-div {
    float: left;
    margin-right: 15px;
    margin-top: 3px
}

.review-box-img {
    margin-right: 15px
}

.homepage-link {
    float: right;
    margin: 19px 14px 0px 0px
}

.review-box-location {
    color: #759633;
}

.review-box-subtitle {
    color: #ffff;
    background-color: #759633;
    border-radius: 5px;
    margin-left: 243px;
    margin-right: 34px
}

.review-box-list li {
    display: inline-block;
}

h3 {
    color: white;
    padding: 10px
}

.app .profile-info .info-box .info-title {
    color: #ffffff;
    background-color: #759633;
    padding-left: 5px;
}

.app .profile-info .info-box .info-title a {
    font-weight: 100;
    float: right;
    padding-right: 5px;
    text-decoration: none;
    color: black;
}


/*FOOTER*/

footer {
    color: #759633;
    background-color: #F3F5CE;
    margin-top: 40px
}

.footer-title {
    text-align: center;
}

.social-links {
    text-align: center;
    margin-left: 3%;
}

.social-links li {
    display: inline-block;
    cursor: pointer;
    margin-right: 6%;
}

.copyright {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.clearfix {
    clear: both
}


/*FOOTER*/

.app .profile-info .info-box .label {
    /* color: rgb(0, 0, 0); */
    color: #313d18;
    float: left;
    width: 27%
}

.app .profile-info .info-box .input {}

.app .profile-info .info-box form .info-password {}

.app .profile-info .info-box form .submit-btn {
    float: right;
}

.clearfix {
    clear: both;
}