body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0
}

.app {
    height: 500px;
    width: 1790px;
    margin: 0 auto
}

.menu-items-div {
    width: 100%;
}

.menu-items {
    list-style: none;
    text-align: center;
    background-color: #666666;
    color: aliceblue;
    padding-right: 15%;
}

.menu-items li {
    display: inline-block;
    cursor: pointer;
    font-size: 14pt;
}

.menu-items a {
    display: inline-block;
    padding: 15px 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-items a:hover {
    background-color: #759633;
    color: white;
}

.menu-items a:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

.home-img {
    display: block;
    float: left;
    margin-top: 0.5%;
    width: 15%;
    height: auto;
}

.review-box-img {}

h4 {
    padding: 0;
    text-align: center
}

.reviews-header-logo {
    width: 100px;
    height: 64px
}

.review-box-img-div {
    float: left;
    margin-right: 15px;
    margin-top: 3px
}

.homepage-link {
    float: right;
    margin: 19px 14px 0px 0px
}

.review-box-location {
    color: #759633;
}

.review-box-subtitle {
    color: #ffff;
    background-color: #759633;
    border-radius: 5px;
    margin-left: 224px;
    margin-right: 13px
}

.review-box-list li {
    display: inline-block;
}

h3 {
    color: white;
    padding: 10px
}

span {
    color: white
}

footer {
    color: #759633;
    background-color: #f3f5e7;
}

.footer-title {
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin-right: 77px
}

.copyright {
    text-align: center;
    background-color: black;
    color: #ffff;
}

.pages-navigator-list {
    text-align: right;
    margin-right: 5%
}

.pages-navigator-list li {
    display: inline
}

.clearfix {
    clear: both
}