body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0
}

.menu-items-div {
    width: 100%;
}

.menu-items {
    list-style: none;
    text-align: center;
    background-color: #666666;
    /* background-color: rgb(53, 54, 148); */
    color: aliceblue;
    padding-right: 15%;
    /* padding-bottom: 1%; */
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.322); */
}

.menu-items li {
    display: inline-block;
    /* padding: 10px 50px; */
}


/* .menu-items li a {
    display: inline-block;
    padding: 10px 50px;
} */


/* #home-button {
    /* background-color: dimgray; 
} */

.menu-items a {
    display: inline-block;
    padding: 15px 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* .menu-items a:visited {
    color: rgb(255, 0, 0);
} */

.menu-items a:hover {
    background-color: #759633;
    /* background-color: black; */
    color: white;
}

.menu-items a:active {
    background-color: rgb(0, 0, 0);
    /* color: rgb(41, 231, 206); */
    /* background-color: rgb(155, 40, 40); */
    color: white;
}

.home-img {
    display: block;
    float: left;
    margin-top: 5px;
    width: 15%;
    height: auto;
    /* margin-left: 30% */
}

.review-box-img {}


/* .reviews-header {
    border-bottom: 2px solid rgb(95, 95, 95);
}

.reviews-header-logo-div {
    padding: 0;
    float: left;
    width: 30%;
    margin-left: 0%;
    margin-right: 0%
}

.reviews-header-title-div {
    padding: 0;
    float: left;
    width: 35%;
    margin-left: 1%;
} */

h4 {
    padding: 0;
    text-align: center
}

.reviews-header-logo {
    width: 100px;
    height: 64px
}

.review-box-img-div {
    float: left;
    margin-right: 2%;
    margin-top: 3%
}

.homepage-link {
    float: right;
    margin: 19px 14px 0px 0px
}

.review-box-location {
    color: #759633;
}

.review-box-subtitle {
    color: #ffff;
    background-color: #759633;
    margin-left: 12%;
}

.review-box-list li {
    display: inline-block;
}

h3 {
    color: white;
    padding: 10px
}

span {
    color: white
}

footer {
    color: #759633;
    background-color: #f3f5e7;
}

.footer-title {
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin-right: 77px
}

.copyright {
    text-align: center;
    background-color: black;
    color: #ffff;
}

.pages-navigator-list {
    text-align: right;
    margin-right: 5%
}

.pages-navigator-list li {
    display: inline
}

.clearfix {
    clear: both
}