body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0
}

.app {
    height: 500px;
    width: 1790px;
    margin: 0 auto
}

.menu-items-div {}

.menu-items {
    list-style: none;
    text-align: center;
    background-color: #666666;
    color: aliceblue;
    margin: 0;
    padding-right: 15%;
}

.menu-items li {
    display: inline-block;
    cursor: pointer;
    padding: 0.5% 0;
    font-size: 14pt;
}

.menu-items li:hover {
    background-color: #759633;
    color: white
}

.menu-items a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-items li:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    text-align: center;
    background-color: #666666;
}

.home {
    background-image: url(../res/img/headerImg.jpg);
    background-size: 100%;
    height: 610px;
    padding-top: 0;
    margin-top: 0px;
}

.home-img {
    display: block;
    float: left;
    margin-top: 0.5%;
    width: 15%;
    height: auto;
    cursor: pointer;
}

.auth-list {
    margin-top: 10px;
}

.auth {
    float: right;
    margin-right: 2%;
}

.auth li {
    display: inline-block;
    margin-right: 30px;
}

.auth li a {
    color: #ffff
}

.auth .login {
    padding: 11px;
    border-radius: 7px;
    background-color: #759633;
}

.auth .login a {
    text-decoration: none;
}

.auth .login:hover {
    background-color: #a0e616
}

.login-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
    width: 213px;
    height: 124px;
    background-color: #eeee;
    border-radius: 5px;
    position: relative;
    left: 81%;
    top: 11%;
}

.login-content h3 {}

.login-content input {
    margin-top: 12px;
    padding: 5px;
    border-radius: 5px;
    border: none
}

.login-content input[type=text] {}

.login-content input[type=password] {}

.login-content button {
    margin-top: 8px;
    border: none;
    color: #fff;
    height: 22px;
    cursor: pointer;
    border-radius: 5px;
}

.login-content .cancle {
    background-color: #F00;
    margin-right: 41px
}

.login-content .go {
    margin-left: 29px;
    background-color: #0ed00e
}

.signup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
    background-color: #eeee;
    width: 201px;
    border-radius: 5px;
    height: 275px;
    position: relative;
    left: 88%;
    bottom: 11%
}

#signup-btn {
    color: #ffffff;
}

.signup-content input {
    width: 153px;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    border: none
}

.signup-content button {
    color: #ffff;
    cursor: pointer;
    border: none
}

.signup-content .go {
    background-color: #0ed00e
}

.signup-content .cancle {
    background-color: #F00;
}

.login-content.active,
.signup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible !important;
}

.open,
.close,
.close-cancle {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
}

.close:hover {
    border: 1px solid #666666;
    background-color: #ab1111;
    color: #ffffff;
}

.close-cancle:hover {
    border: 1px solid #666666;
    background-color: #ab1111;
    color: #ffffff;
}

.open:hover {
    border: 1px solid #666666;
    background-color: #a0e616;
    color: #ffffff;
}

.search-box {
    position: relative;
    bottom: 126px
}

.place-options {
    width: 10%;
    height: 7%;
    border-radius: 5px
}

.search-box-text {
    width: 30%;
    height: 7%;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px
}

.search-box-submit-btn {
    width: 5%;
    height: 7%;
    color: #fff;
    background-color: #759633;
    cursor: pointer;
    border: 2px solid #759633;
    border-radius: 5px
}

.search-box-submit-btn:hover {
    background-color: #a0e616
}

.review-list {
    color: #ffff
}

.review-list .review-list-title {
    padding-left: 39px;
    background-color: #759633;
    width: 1733px;
    margin-left: 25px;
    border-radius: 5px;
}

.review-box {
    float: left;
    width: 14.4%;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    background-color: #759633;
}

.review-box-img {
    width: 100%;
    height: auto;
}

.review-box h6 {
    font-size: 14pt;
    margin: 10%;
}

.review-box-list {
    text-align: center;
    margin-right: 20%;
}

.review-box-list li {
    display: inline-block;
}

.see-more {
    float: right;
    margin-right: 2.5%;
    text-decoration: none;
    margin-top: 10px;
    padding: 2px;
}

footer {
    color: #759633;
    background-color: #f3f5e7;
}

.footer-title {
    text-align: center;
}

.social-links {
    text-align: center;
    margin-left: 3%;
}

.social-links li {
    display: inline-block;
    cursor: pointer;
    margin-right: 6%;
}

.copyright {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.clearfix {
    clear: both
}