body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding: 0
}

.menu-items-div {}

.menu-items {
    list-style: none;
    text-align: center;
    background-color: #666666;
    color: aliceblue;
    margin: 0;
    padding-right: 15%;
}

.menu-items li {
    display: inline-block;
    cursor: pointer
}

.menu-items li:hover {
    background-color: #759633;
    color: white
}


/* .menu-items li a {
    display: inline-block;
    padding: 10px 50px;
} */


/* #home-button {
    /* background-color: dimgray; 
} */

.menu-items a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* .menu-items a:visited {
    color: rgb(255, 0, 0);
} */


/* 
.menu-items a:hover {
    background-color: #759633;
    /* background-color: black; */

*/ .menu-items a:active {
    background-color: rgb(0, 0, 0);
    /* color: rgb(41, 231, 206); */
    /* background-color: rgb(155, 40, 40); */
    color: white;
}

header {
    text-align: center;
    /* background-color: rgb(116, 116, 116); */
    background-color: #666666;
}


/*header .home-title {
    /* margin: 6px; 
    color: #ffffff;
    padding-top: 6px;
}*/

.home {
    background-image: url(../res/img/headerImg.jpg);
    background-size: 100%;
    height: 610px;
    padding-top: 0;
    margin-top: 0px;
}

.home-img {
    display: block;
    float: left;
    margin-top: 5px;
    width: 15%;
    height: auto;
    /* margin-left: 30% */
}

.auth-list {
    margin-top: 10px;
}

.auth {
    float: right;
    margin-right: 2%;
    /* margin-top: 9px */
}

.auth li {
    display: inline-block;
    margin-right: 30px;
    /* margin-top: 5px; */
}

.auth li a {
    color: #ffff
}

.auth .login {
    padding: 11px;
    border-radius: 7px;
    background-color: #759633;
}

.auth .login a {
    text-decoration: none;
}

.login-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
}

.signup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
    /* color: #000000; */
}

#signup-btn {
    color: #ffffff;
}

.login-content.active,
.signup-content .active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
}

.open,
.close {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
}

.close:hover,
.open:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
}

.review-list {
    color: #ffff
}

.review-list .review-list-title {
    /* margin-left: 39px; */
    padding-left: 39px;
    background-color: #759633;
}

.review-box {
    float: left;
    width: 14.4%;
    margin-right: 1%;
    margin-left: 1%;
    text-align: center;
    /* background-color: #A3B29F; */
    background-color: #759633;
}

.review-box-list {
    text-align: center;
    margin-right: 20%;
}

.review-box-list li {
    display: inline-block;
}

.see-more {
    float: right;
    margin-right: 16px
}

footer {
    color: #759633;
    background-color: #f3f5e7;
}

.footer-title {
    text-align: center;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin-right: 77px
}

.copyright {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

.clearfix {
    clear: both
}